/Map_Bul_App_Tk/Map_Bul_App/Map_Bul_App.Droid/obj
/Map_Bul_App_Tk/Map_Bul_App/Map_Bul_App.Droid/bin
/Map_Bul_App_Tk/Map_Bul_App/Map_Bul_App/obj
/Map_Bul_App_Tk/Map_Bul_App/Map_Bul_App/bin
/Map_Bul_App_Tk/Map_Bul_App/Map_Bul_App.iOS/bin
/Map_Bul_App_Tk/Map_Bul_App/Map_Bul_App.iOS/obj
/Map_Bul_App_Tk/.vs