<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>7.1</string>
	<key>CFBundleIdentifier</key>
	<string>ru.etreta.mapbul.ios</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
    <string>en</string>
		<string>ru</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Roboto-Black.ttf</string>
		<string>Fonts/Roboto-BlackItalic.ttf</string>
		<string>Fonts/Roboto-Bold.ttf</string>
		<string>Fonts/Roboto-BoldItalic.ttf</string>
		<string>Fonts/Roboto-Light.ttf</string>
		<string>Fonts/Roboto-LightItalic.ttf</string>
		<string>Fonts/Roboto-Medium.ttf</string>
		<string>Fonts/Roboto-MediumItalic.ttf</string>
		<string>Fonts/Roboto-Thin.ttf</string>
		<string>Fonts/Roboto-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>cartocdn.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>openstreetmap.org</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Приложение хочет получить доступ к Вашей камере</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Приложение хочет получить доступ к Вашей библиотеке фотографий</string>
	<key>CFBundleName</key>
	<string>RusBali</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
